@model List<Employee>
<div class="container-fluid">
    <div class="card shadow border-0 my-4">
        <div class="card-header bg-dark ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Employee List</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Employee" asp-action="Upsert" class="btn btn-dark">
                        <i class="bi bi-plus-circle"></i> Create New Product
                    </a>
                </div>
            </div>

            <div class="table-responsive">
                <table id="tblData" class="table table-bordered w-100" style="width:100%">
                    <thead>
                        <tr class="text-center">
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Date Of Hire</th>
                            <th>Departament</th>
                            <th>Salary</th>
                            <th>Date Of Birth</th>
                            <th>Email</th>
                            <th>Street Address</th>
                            <th>Phone Number</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Postal Code</th>
                            <th>Country</th>
                            <th></th>
                        </tr>
                    </thead>
                    <!-- Restul codului tabelului -->
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/employee.js"></script>
}