@model ITManagement.Models.ViewModels.EmployeeVM



<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark bg-dark ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Employee.Id != 0 ? "Update" : "Create")  Employee</h2>
        </div>
    </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Employee.Id" hidden />
            <input asp-for="Employee.ImageUrl" hidden />

            <div class=" row">
                <div class=" col-10">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.FirstName" class="form-control border-0 shadow" />
                            <label asp-for="Employee.LastName" class="ms-2"></label>
                            <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
                        </div>
                     
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.LastName" class="form-control border-0 shadow" />
                            <label asp-for="Employee.LastName" class="ms-2"></label>
                            <span asp-validation-for="Employee.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.DateOfHire" class="form-control border-0 shadow" />
                            <label asp-for="Employee.DateOfHire" class="ms-2"></label>
                            <span asp-validation-for="Employee.DateOfHire" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Employee.DepartamentId" asp-items="@Model.DepartamentList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category</option>
                            </select>
                            <label asp-for="Employee.DepartamentId" class="ms-2"></label>
                            <span asp-validation-for="Employee.DepartamentId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.Salary" class="form-control border-0 shadow" />
                            <label asp-for="Employee.Salary" class="ms-2"></label>
                            <span asp-validation-for="Employee.Salary" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.DateOfBirth" class="form-control border-0 shadow" />
                            <label asp-for="Employee.DateOfBirth" class="ms-2"></label>
                            <span asp-validation-for="Employee.DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.Email" class="form-control border-0 shadow" />
                            <label asp-for="Employee.Email" class="ms-2"></label>
                            <span asp-validation-for="Employee.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.StreetAdress" class="form-control border-0 shadow" />
                            <label asp-for="Employee.StreetAdress" class="ms-2"></label>
                            <span asp-validation-for="Employee.StreetAdress" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.PhoneNumber" class="form-control border-0 shadow" />
                            <label asp-for="Employee.PhoneNumber" class="ms-2"></label>
                            <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
                        </div>
                         <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.City" class="form-control border-0 shadow" />
                            <label asp-for="Employee.City" class="ms-2"></label>
                            <span asp-validation-for="Employee.City" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.State" class="form-control border-0 shadow" />
                            <label asp-for="Employee.State" class="ms-2"></label>
                            <span asp-validation-for="Employee.State" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.PostalCode" class="form-control border-0 shadow" />
                            <label asp-for="Employee.PostalCode" class="ms-2"></label>
                            <span asp-validation-for="Employee.PostalCode" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Employee.Country" class="form-control border-0 shadow" />
                            <label asp-for="Employee.Country" class="ms-2"></label>
                            <span asp-validation-for="Employee.Country" class="text-danger"></span>
                        </div>


                        
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <label asp-for="Employee.ImageUrl" class="ms-2"></label>
                        </div>

                        <div class="row pt-2">
                            <div class="col-12 col-md-3 d-flex justify-content-center">
                                @if (Model.Employee.Id != 0)
                                {
                                    <button type="submit" class="btn btn-dark form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-dark form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3 d-flex justify-content-center">
                                <a asp-controller="Employee" asp-action="ShowEmployee" class="btn btn-dark border form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-2">
                    <img src="@Model.Employee.ImageUrl" width="100%"
                    style="border-radius:5px; border:1px solid #bbb9b9"/>
                </div>
            </div>
          
        </form>
    </div>
</div>




@section Scripts{
   
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}